body {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.register {
  width: 500px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
a {
  text-decoration: unset;
  color: black;
}
.registration {
  box-sizing: border-box;
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
}
.login_width {
  width: 300px;
  display: flex;
  justify-content: center;
}
div.login_reg {
  width: 157px;
  height: 20px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login_reg h3 a {
  cursor: pointer;
}
.login_reg .reg {
  color: #46a358;
}
div.enter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.registration input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  display: inline-block;
  width: 300px;
}
.block_input form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button_register {
  font-weight: bold;
  background: #46a358;
  color: #fff;
  border: 1px solid #46a358;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.button_register:hover {
  background: #fff;
  color: #46a358;
}
.block_social-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 40px;
  border: 1px solid #eaeaea;
  text-decoration: none;
  gap: 10px;
  transition: 0.2s;
  background-color: #fff;
  cursor: pointer;
  margin: 10px 0 10px 0;
  border-radius: 5px;
}
.social-login:hover {
  box-shadow: 4px 4px 4px #46a358;
}
.reg_with {
  text-align: center;
  position: relative;
}
.reg_with h4 {
  background-color: #fafafa;
  display: inline-block;
  padding: 0 18px;
  position: relative;
}
.reg_with:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #b1b1b1;
}
